body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}

header {
  background-color: #FF7900
;
  color: white;
  padding: 1em;
  text-align: center;
  font-size: 1.5em;
}

.logo {
  height: 80px;
  width: auto;
  margin-right: 1em;
  border-radius: 30px;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.1);
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
  margin-top: 2rem;
  font-size: 0.9em;
}


.container {
  max-width: 600px;
  margin: auto;
  padding: 20px 20px   20px 20px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, button {
  padding: 0.7em;
  font-size: 1em;
}

button {
  background-color: orange;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #FF7900
;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  margin-bottom: 10px;
  padding: 0.7em;
  border-radius: 5px;
}
/* gestion du responsive sur les terminaux de petite taille */
@media (max-width: 500px) {
  li {
    flex-direction: column;
    align-items: flex-start;
  }
}
